.content-area-cards {
    display: flex;
    align-items: flex-start; /* Pastikan kartu tidak dipaksa memiliki tinggi yang sama */
  }
  
  .area-card {
    flex: none; /* Ukuran kartu tidak akan memengaruhi elemen lain */
  }
  


.area-card.gpa-card-secondary {
    height: 400px; /* Set tinggi card */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Posisikan konten di bagian atas */
    padding: 16px; /* Tambahkan padding jika diperlukan */
  }
  