.ukt-table-container {
    // Kontainer utama tabel
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-x: auto; 
  
    // Styling untuk tabel
    .ant-table {
      // Ubah warna header tabel
      .ant-table-thead > tr > th {
        background-color: #f0f0f0;
        color: #333;
        font-weight: bold;
      }
  
      // Ubah warna baris data
      .ant-table-tbody > tr > td {
        border-bottom: 1px solid #e8e8e8;
        padding: 10px;
      }
  
      // Ubah warna baris data yang aktif
      .ant-table-row:hover {
        background-color: #f5f5f5;
      }
    }
  }
  
  .ukt-title {
    // Judul tabel
    font-size: 20px;
    color: #0079b1;
    margin-bottom: 20px;
  }